<div
  class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 z-50"
>
  <div
    class="relative bg-white p-8 rounded-lg shadow-lg w-full max-w-md mt-[-10vh]"
  >
    <!-- Close Button -->
    <button
      (click)="closeRegister()"
      class="absolute top-4 right-4 text-gray-600 hover:text-gray-900 text-2xl"
    >
      &times;
    </button>

    <h2 class="text-2xl font-bold mb-6 text-center mt-4">Register</h2>

    <div *ngIf="!isSuccessful">
      <form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)">
        <div class="inputs">
          <div class="form-group">
            <label for="username">Username:</label>
            <input
              type="text"
              class="form-control"
              id="username"
              name="username"
              [(ngModel)]="register.name"
              required
              minlength="3"
              maxlength="20"
            />
          </div>
        </div>

        <div class="inputs">
          <div class="form-group">
            <label for="email">Email:</label>
            <input
              type="email"
              class="form-control"
              id="email"
              name="email"
              [(ngModel)]="register.email"
              required
            />
          </div>
        </div>

        <div class="inputs">
          <div class="form-group">
            <label for="password">Password:</label>
            <input
              type="password"
              class="form-control"
              id="password"
              name="password"
              [(ngModel)]="register.password"
              required
            />
          </div>
        </div>

        <div class="inputs">
          <div class="form-group">
            <label for="number">Phone Number:</label>
            <input
              type="tel"
              class="form-control"
              id="number"
              name="number"
              [(ngModel)]="register.phoneNumber"
              required
            />
          </div>
        </div>

        <div class="inputs">
          <div class="form-group">
            <label for="role">Role:</label>
            <select
              id="role"
              name="role"
              class="form-control wid"
              [(ngModel)]="register.role"
            >
              <option value="Customer">Customer</option>
              <option value="Admin">Admin</option>
            </select>
          </div>
        </div>

        <button type="submit" class="btn btn-primary btn-block">Sign Up</button>
      </form>
    </div>

    <div class="alert alert-success" *ngIf="isSuccessful">
      Your registration is successful, Please Login!
      <button
        type="submit"
        class="btn btn-primary btn-block"
        [routerLink]="'/login'"
      >
        Login
      </button>
    </div>
    <div class="alert alert-danger" *ngIf="isSignUpFailed">
      {{ errorMessage }}
    </div>
  </div>
</div>
