
@model IMS.Web.Models.Order.AddAddressRequestDto


<div class="container mt-4">
    <h2 class="text-success">Add New Address</h2>

    <form asp-action="SaveAddress" method="post">
        <div class="mb-3">
            <label asp-for="houseNo" class="form-label">House No</label>
            <input asp-for="houseNo" class="form-control" />
            <span asp-validation-for="houseNo" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="street" class="form-label">Street</label>
            <input asp-for="street" class="form-control" />
            <span asp-validation-for="street" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="pinCode" class="form-label">Pin Code</label>
            <input asp-for="pinCode" class="form-control" />
            <span asp-validation-for="pinCode" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="city" class="form-label">City</label>
            <input asp-for="city" class="form-control" />
            <span asp-validation-for="city" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="state" class="form-label">State</label>
            <input asp-for="state" class="form-control" />
            <span asp-validation-for="state" class="text-danger"></span>
        </div>

        <button type="submit" asp-controller="Order" asp-action="AddAddress" class="btn btn-success">Save Address</button>
        <a asp-action="GetAddress" class="btn btn-secondary">Cancel</a>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
